In [3]:
movie_path = r'C:\Users\Dell\Desktop\Data Warehouse\movie dataset\movies.csv'

import pandas as pd

movies_df = pd.read_csv(movie_path)
movies_df.head()

,movieId,title,genres
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy
1,2,Jumanji (1995),Adventure|Children|Fantasy
2,3,Grumpier Old Men (1995),Comedy|Romance
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance
4,5,Father of the Bride Part II (1995),Comedy

In [4]:
len(movies_df.index)

9742

In [5]:
movies_df.shape

(9742, 3)

In [6]:
 print(movies_df.loc[0][0])
 print(movies_df.loc[0][1])
 print(movies_df.loc[0][2])

1
Toy Story (1995)
Adventure|Animation|Children|Comedy|Fantasy

In [8]:
movies_df['genres_arr']=movies_df['genres'].str.split('|')
movies_df.head()

,movieId,title,genres,genres_arr
0,1,Toy Story (1995),Adventure|Animation|Children|Comedy|Fantasy,"[Adventure, Animation, Children, Comedy, Fantasy]"
1,2,Jumanji (1995),Adventure|Children|Fantasy,"[Adventure, Children, Fantasy]"
2,3,Grumpier Old Men (1995),Comedy|Romance,"[Comedy, Romance]"
3,4,Waiting to Exhale (1995),Comedy|Drama|Romance,"[Comedy, Drama, Romance]"
4,5,Father of the Bride Part II (1995),Comedy,[Comedy]